.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.galeria img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
    transition: transform 0.3s ease;
}

.galeria img:hover {
    transform: scale(1.03);
}
.galeria .foto-grande {
    grid-column: 1 / -1; /* ocupa toda la fila */
    height: 320px;       /* más grande */
    justify-self: center;
    max-width: 70%;      /* no ocupa todo, queda estética */
}
